<!--
  Generated template for the RunPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ run.title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="status {{ run.status }}_class">{{ runStatusDisplay }}</div>

  <!-- Start button if Mine & Ready -->
  <div *ngIf="runIsMine && runStatusCode == 2" text-center>
    <button ion-button color="secondary" icon-left (click)="start()">
      <ion-icon name="car"></ion-icon>
      <ion-icon name="arrow-round-forward"></ion-icon>
      {{ run.runners.length > 1 ? 'On y va' : "J'y vais" }}
    </button>
  </div>

  <!-- Stop button if Mine & In Progress -->
  <div *ngIf="runIsMine && runStatusCode == 3" text-center>
    <button ion-button color="danger" icon-left (click)="stop()">
      <ion-icon name="arrow-round-back"></ion-icon>
      <ion-icon name="car"></ion-icon>
      {{ run.runners.length > 1 ? 'On est de retour' : "Je suis de retour" }}
    </button>
  </div>

  <ion-card>
    <ion-card-content no-padding>
      <ion-list no-lines>
        <ion-item>
          <ion-icon name="calendar" item-left></ion-icon>
          {{run.planned_at | date:'d MMM H:mm'}}
        </ion-item>
        <ion-item *ngIf="run.started_at">
          <ion-icon name="car" item-left></ion-icon>
          <ion-icon name="arrow-round-forward" item-left></ion-icon>
          {{run.started_at | date:'d MMM H:mm'}}
        </ion-item>
        <ion-item *ngIf="run.ended_at">
          <ion-icon name="arrow-round-back" item-left></ion-icon>
          <ion-icon name="car" item-left></ion-icon>
          {{run.ended_at | date:'d MMM H:mm'}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <h4 text-center>Trajet</h4>
  <ion-card>
    <ion-card-content no-padding>
      <ion-list class="waypoints" no-lines>
        <ion-item *ngFor="let waypoint of run.waypoints">
          <ion-icon name="flag" item-left></ion-icon>
          <h2>{{waypoint.name}}</h2>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <h4 text-center>Assuré par</h4>
  <ion-card>
    <ion-card-content no-padding>
      <ion-list>
        <div class="runner" *ngFor="let runner of run.runners">
          <ion-item>
            <ion-grid item-content>
              <ion-row class="runner__user iconized">
                <ion-icon name="person" item-left class="iconized"></ion-icon>
                <!-- take button if needs driver and I'm not already on this run-->
                <span [ngSwitch]="!runIsMine && runStatusCode == 1 && runner.driverName == null">
                  <button *ngSwitchCase="true" ion-button color="primary" icon-left (click)="take(runner.id)">Je m'en charge !</button>
                  <h2 *ngSwitchDefault class="iconized">{{runner.driverName ? runner.driverName : '?'}}</h2>
                </span>
              </ion-row>
              <!-- Vehicle -->
              <ion-row class="iconized">
                <ion-icon name="car" item-left class="iconized"></ion-icon>
                <span *ngIf="runner.selectableBy(userid)">
                  <button ion-button color="primary" icon-left (click)="selectCar(runner.id)">{{ runner.vehicleName == null ? 'Choisir' : runner.vehicleName }}</button>
                </span>
                <span *ngIf="!runner.selectableBy(userid)">
                  <span *ngIf="runner.vehicleType != null">
                    {{runner.vehicleName ? runner.vehicleName : 'Type '+runner.vehicleType}}
                  </span>
                  <span *ngIf="runner.vehicleType == null">
                    Non défini
                  </span>
                </span>
              </ion-row>
            </ion-grid>
          </ion-item>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
